<%- include("partials/header.ejs") %>
    <div class="body dummy1">
        <div class="signup">
            <h3>Don't have an account?</h3>
            <h4>Please Sign Up Here</h4>
            <form method="get" action="/signup">
                <button type="submit">Sign Up</button>
            </form>
        </div>
        <div class="signin">
            <h3>Already a user?</h3>
            <h4>Get in there, Sign In</h4>
            <form method="get" action="/signin">
                <button type="submit">Sign In</button>
            </form>
        </div>
    </div>
<%- include("partials/footer.ejs") %>